.slideshow-nav {
	position: absolute;
	color: #fff!important;
	background-color: #000!important;
	top: 50%;
	display: inline-block;
	padding: 8px 16px;
	border: none;
	text-align: center;
	text-decoration: none;
}
